{{> navbar}}

<h1>Listado de Productos (Home)</h1>

<ul>
{{#each products}}
    <li>
        # {{id}} -<strong>{{title}}</strong> — ${{price}} -- <Strong>{{category}}</Strong>
    </li>
{{/each}}
</ul>
