<nav class="nav">
  <a href="/home" class="nav-link {{#if isHome}}active{{/if}}">Home</a>
  <a href="/realtimeproducts" class="nav-link {{#if isRealtime}}active{{/if}}">Real Time Products</a>
  <a href="/api/products" class="nav-link">API (JSON)</a>
</nav>
